<html>
<head>
    <script src="angular.js"></script>
    <script src="kenken.js"></script>
    <link rel="stylesheet" href='style.css' />
</head>
<body ng-app="KenKenApp">
    <div ng-controller="KenKenCtrl">
        <div id="options" class="shadow">
            <label for="puzzle_size">Puzzle size</label>
            <input type="text"
                   name="puzzle_size"
                   maxlength="1"
                   id="puzzle_size"
                   ng-model="puzzle_size"></input>
            <button ng-click="new(puzzle_size)">Submit</button>

            <label for="show_answers">Show answers</label>
            <input type="checkbox"
                   name="show_answers"
                   ng-model="show_answers" />

            <label for="show_correct">Highlight correct guesses</label>
            <input type="checkbox"
                   name="show_correct"
                   ng-model="show_correct" />
        </div>

        <div id="puzzle" class="shadow" style="width: {{ 4.25 * puzzle.size }}em">
            <div ng-repeat="row in puzzle.cells" class="row">
                <div ng-repeat="cell in row" class="cell"
                    ng-class="{
                        'up':    cell.border.up,
                        'down':  cell.border.down,
                        'left':  cell.border.left,
                        'right': cell.border.right,
                        'correct': show_correct && cell.guess == cell.answer
                    }">
                    <div class="group_answer"
                         ng-if="cell.group.first">{{ cell.group.op }}{{ cell.group.answer }}</div>
                    <div class="answer"
                         ng-show="show_answers">{{ cell.answer }}</div>
                    <input class="guess"
                           type="text"
                           maxlength="1"
                           ng-hide="show_answers"
                           ng-model="cell.guess"></input>
                </div>
            </div>
        </div>
    </div>

    <div id="instructions">
        <h2>Instructions</h2>

        <p>Use the top bar to change the puzzle size by entering a number
        between 3 and 9 and pressing "Submit". Checking "Show answers" reveals
        the correct answers for all squares on the puzzle. If the "Highlight
        correct guesses" box is checked, any numbers you have entered that are
        correct are colored in.</p>

        <h2>How to play</h2>

        <p>Fill in each square with a digit from 1 to x, where x is the size of
        the puzzle. Each row contains the numbers 1 through x, as does each column.
        A single row or column will never contain the number twice.</p>

        <p>The heavily outlined groups are called "cages". Each cage has either a
        number or a target (ie. +7 or x12). A cage with just a number means that
        number is what should be entered. A cage with a target means that the
        numbers in that cage should equal the target number shown when the target
        mathmatical operation is applied to all the cage's numbers.</p>

        <p>For example, if a cage has the target "x12", this means the product of
        the numbers in the cage will equal 12.</p>

        <p>The <a href="https://en.wikipedia.org/wiki/KenKen">WikiPedia article</a>
        has more information.</p>
    </div>

</body>
</html>
