body {
    background: url('wood.jpg');
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#puzzle {
    border: 1px solid black;
    margin: 0 auto;
    overflow: auto;
    outline: 0.4em solid #DDD;
    clear: left;
    background: white;
}

#options {
    margin-bottom: 4em;
    width: 100%;
    background: rgba(255, 255, 255, 0.75)
}

.shadow {
    box-shadow: 0 0.5em 1em black;
}

.row {
    clear: left;
}

.cell {
    font-size: 2em;
    width: 2em;
    height: 2em;
    border: 2px solid white;
    float: left;
    outline: 1px solid black;
}

.cell.up {
    border-top-color: black;
}

.cell.down {
    border-bottom-color: black;
}

.cell.left {
    border-left-color: black;
}

.cell.right {
    border-right-color: black;
}

.cell.correct {
    background-color: #DBFFBE;
}

.cell .answer {
    text-align: center;
    line-height: 2em;
}

.group_answer {
    position: absolute;
    font-size: 0.6em;
    margin-left: 0.1em;
}

.cell input.guess {
    position: absolute;
    width: 2em;
    height: 2em;
    font-size: 1em;
    text-align: center;
    border: none;
    background: none;
}

label {
    margin-left: 20px;
}

input#puzzle_size {
    width: 2em;
    text-align: center;
}

#instructions {
    color: white;
    width: 500px;
    margin: 5em auto;
}
